.custom-radio {
    position: relative;
    display: inline-block;
    margin-right: 15px; 
    input[type="radio"] {
        display: none;
        + label {
            font-size: 14px;
            padding-left: 24px;  
            margin: 0;   
            color: $gray-dark;
            font-weight: normal;
            cursor: pointer;    
            &::before {
                content: " ";
                width: 16px;
                height: 16px;
                border-radius: 100%;  
                left: 0;
                position: absolute;
                border: 1px solid $gray;  
                background-color: #ffffff;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
        &:checked {
            + label {
                color: $brand-primary;
                &::after {
                    content: " ";
                    width: 8px;
                    height: 8px;  
                    border-radius: 100%;
                    border: 1px solid $brand-primary;
                    display: block;
                    background-color: $brand-primary;
                    position: absolute;
                    left: 4px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
        }
    }
}

.custom-checkbox {
    [type="checkbox"] {
        &:not(:checked), &:checked { 
            position: absolute;
            left: -9999px;
        }
        &:not(:checked) + label,
        &:checked + label {
            position: relative;
            padding-left:20px; 
            cursor: pointer;
            color: $gray;
            font-weight: normal;  
        }
        &:not(:checked) + label:before,
        &:checked + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 13px;
            height: 13px;
            border: 1px solid #ccc;
            background: $gray-base-inverse;
            line-height: 1;
			border-radius: 3px;
        }
        &:not(:checked) + label:after,
        &:checked + label:after {
            content: "\2714";
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 11px;
            left: 3px;
            font-size: 9px;
            transition: all .2s;
			color: $brand-primary;
        }
        &:not(:checked) + label:after {
            opacity: 0;
            transform: scale(0);
        }
        &:checked + label:after {
            opacity: 1;
            transform: scale(1);
        }
    }
}

@media screen and (max-width: $screen-xs-min) {
    .custom-radio input[type="radio"]+label {
        font-size: 12px;
    }
    .custom-radio input[type="radio"]+label::before {
        width: 18px;
        height: 18px;
        border: 1px solid $brand-primary;
    }
    .custom-radio input[type="radio"]:checked+label::after {
        width: 8px;
        height: 8px;
        left: 5px;
    }
    .custom-radio input[type="radio"]+label {
        padding: 0 6px 0px 25px;
    }
    .custom-radio input[type="radio"]+label i {
        font-size: 24px;
    }
}