{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <div class="col-sm-3 footer-col">
	<div class="footer-content">
    {% else %}
      <ul>
    {% endif %}
    {% for item in items %}
      {%
        set item_classes = [
          'expanded',
          'dropdown',
          item.in_active_trail ? 'active',
        ]
      %}
      {% if menu_level == 0 and item.is_expanded %}
        <h5>{{ item.title }}</h5>
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes.removeClass('nav'), menu_level + 1) }}
        {% endif %}
        {% if loop.last != true %}
            </div></div><div class="col-sm-3 footer-col"><div class="footer-content">
        {% else %}
            </div></div>
        {% endif %}    
      {% else %}
        {% if menu_level == 1 %}
            {% set classes = item.original_link.pluginDefinition.options.attributes.class %}
              {% if 'break-point' in classes and not loop.last %}
                </li></ul></div></div><div class="col-sm-3 footer-col"><div class="footer-content"><ul>
              {% endif %} 
              <li{{ item.attributes.addClass(item_classes) }}>
              {{ link(item.title, item.url) }} 
              </li>
        {% else %}    
            <li{{ item.attributes.addClass(item_classes) }}>
            {{ link(item.title, item.url) }}
            </li>
        {% endif %}
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
