// Default variables.
@import "default-variables";

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';

* {
    outline: none !important;
    line-height: 1.4;
}
.row-zero {
    margin: 0;
}
.help-block {
    font-size: 12px;
}
.last {
    margin-bottom: 0 !important;
}
label {
    font-weight: normal;
}
a {
    @include transition (all ease-out 0.3s);
    line-height: 1.8;
    &.text-link {
        color: $brand-secondary;
        &:hover {
            color: $brand-primary;
        }
    }
}
p {
    line-height: 1.8;
}
h1, h2, h3, h4, h5, h6 {
    color: $gray-darker;
    line-height: 1.4;
    a {
        color: inherit;
    }
}
.p-0 {
    padding: 0px;
}
.p-l {
    padding-left: 0px;
    padding-right: 5px;
}
.p-r {
    padding-right: 0px;
}
a {
    text-decoration: none !important;
}
h2 {
    font: 30px $font-bold;
    color: $gray;
    border-left: 2px solid $brand-secondary;
    line-height: 20px;
    padding: 0 0 0 10px;
}
.vcenter-row {
    font-size: 0;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    font-size: 15px;
}
.vrow {
    font-size: 0;
    .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
        font-size: 14px;
    }
}
.p-0 {
    padding: 0;
}
.zero-col {
    padding: 0;
}
.gutter-row {
    margin: 0;
}
.row-15 {
    margin-right: -7.5px;
    margin-left: -7.5px;
}
.col-block {
    padding-right: 7.5px;
    padding-left: 7.5px;
    margin-bottom: 15px;
}
.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex>[class*='col-'] {
    display: flex;
    flex-direction: column;
}
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.row.is-flex>[class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.owl-prev {
    @extend .icon-thin-arrow-left;
    &::before {
        @extend .custom-icons;
        font-size: 25px;
        margin: 0;
    }
    &:hover {
        &::before {
            color: $brand-secondary;
        }
    }
}
.owl-next {
    @extend .icon-thin-arrow-right;
    &::before {
        @extend .custom-icons;
        font-size: 25px;
        margin: 0;
    }
    &:hover {
        &::before {
            color: $brand-secondary;
        }
    }
}
.btn-green-bg {
    background: $brand-secondary;
    &:hover {
        background: rgba($brand-secondary,0.5);
    }
}
.hero-banner {
    .hero-content {
        position: absolute;
        bottom: 155px;
        left: 100px;
        text-align: left;
        z-index: 99;
        max-width: 900px;
        h1 {
            color: $gray-base-inverse;
            margin: 0;
            font-family: $font-bold;
            padding-bottom: 10px;
        }
        p {
            color: $gray-base-inverse;
            font: 16px $font-regular;
            padding-bottom: 10px;
        }
        .btn-view {
            color: $gray-base-inverse;
            font: 14px $font-regular;
            text-transform: uppercase;
            padding: 8px 25px;
            border-radius: 100px;
        }
    }
}
.availability-bg {
    padding: 15px 0 15px 0px;
    margin: 0 60px;
    overflow: hidden;
    .availability-bx {
        position: relative;
        padding: 10px 0 0;
        ul {
            display: inline-block;
            padding: 5px;
            margin: 0;
            height: 95px;
            position: relative;
            list-style: none;
            li {
                float: left;
                display: inline-block;
                padding: 0 20px;
                p {
                    font: 22px $font-bold;
                    color: $gray;
                    padding-bottom: 3px;
                    span {
                        font: 22px $font-regular;
                        color: $gray;
                    }
                }
                .hover-text {
                    opacity: 0;
                    font: 16px $font-bold;
                    color: $brand-primary;
                    &.date {
                        font: 14px $font-regular;
                        color: $gray;
                    }
                }
                &:hover {
                    .hover-text {
                        opacity: 1;
                    }
                    p {
                        border-bottom: 3px solid $brand-primary;
                    }
                }
            }
        }
    }
}
.our-services {
    padding: 30px 0;
    background: $gray-lightest;
    .our-services-content {
        h2 {
            width: 50%;
            display: inline-block;
        }
        .nav-tabs {
            border-bottom: none;
            padding: 25px 15px 0 0px;
            li {
                padding: 0 0px 0 25px;
                a {
                    font: 24px $font-bold;
                    color: $gray-light;
                    border-bottom: transparent;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    padding: 0 0 4px;
                    &:hover {
                        background-color: transparent;
                        border-top: none;
                        border-left: none;
                        border-right: none;
                        box-shadow: none;
                        color: $gray;
                        border-bottom: 2px solid $brand-primary;
                    }
                }
                &.active {
                    a {
                        background-color: transparent;
                        border-top: none;
                        border-left: none;
                        border-right: none;
                        box-shadow: none;
                        border-bottom: 2px solid $brand-primary;
                    }
                }
            }
        }
        .tab-content {
            padding-top: 40px;
            .tab-pane {
                display: block;
                width: 100%;
                height: 0;
                padding: 0;
                visibility: hidden;
                height: 0px;
                overflow: hidden;
                figure {
                    position: relative;
                    .overlay-content {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: auto;
                        padding: 10px 20px;
                        z-index: 999;
                        width: 100%;
                        h3 {
                            color: $gray-base-inverse;
                            font: 25px $font-bold;
                            position: relative;
                            &::before {
                                content: "";
                                height: 3px;
                                background: $brand-primary;
                                position: absolute;
                                width: 10%;
                                margin: 0 auto;
                                left: 0;
                                right: auto;
                                margin: auto;
                                bottom: -3px;
                                -webkit-transition: all ease-out 0.3s;
                                -o-transition: all ease-out 0.3s;
                                transition: all ease-out 0.3s;
                            }
                            &:hover {
                                &::before {
                                    width: 20%;
                                }
                            }
                        }
                        p {
                            color: $gray-base-inverse;
                            font: 16px $font-regular;
                            line-height: 1.4;
                        }
                        .btn-view {
                            font: 14px $font-regular;
                            color: $gray-base-inverse;
                            display: block;
                            text-transform: uppercase;
                            i {
                                &:before {
                                    font-size: 10px;
                                    vertical-align: middle;
                                    display: inline-block;
                                    margin: -5px 0 0 4px;
                                    color: $brand-primary;
                                }
                            }
                            &:hover {
                                color: $brand-primary;
                            }
                        }
                    }
                    img {
                        width: 100%;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        padding: 20px 20px 330px 20px;
                        font-size: 18px;
                        color: #fff;
                        -webkit-transition: all ease-out 0.3s;
                        -o-transition: all ease-out 0.3s;
                        transition: all ease-out 0.3s;
                        background-image: -webkit-linear-gradient(top,transparent 0%,#000 100%);
                        background-image: -o-linear-gradient(top,transparent 0%,#000 100%);
                        background-image: linear-gradient(to bottom,transparent 0,#000 100%);
                        background-repeat: repeat-x;
                        z-index: 9;
                    }
                }
                .col-second {
                    .overlay-content {
                        bottom: 38px;
                        h3 {
                            &::before {
                                width: 22%;
                            }
                            &:hover {
                                &::before {
                                    width: 40%;
                                }
                            }
                        }
                    }
                }
                .owl-prev {
                    left: -15px;
                }
                .owl-next {
                    right: -15px;
                }
            }
            .active {
                visibility: visible;
                height: auto;
                overflow: visible;
            }
        }
    }
}
.our-clients {
    padding: 50px 0px;
    .our-clients-content {
        h2 {
            display: inline-block;
        }
        .our-clients-text {
            width: 82%;
            display: inline-block;
            margin: 0;
            padding: 10px 0 0;
            font: 16px $font-regular;
            color: $gray-light;
            line-height: 1.6;
        }
        .clients-slider {
            margin-top: 60px;
            .slider-01 {
            }
            figure {
                margin: 0;
                text-align: center;
                padding: 10px 5px;
                img {
                    display: inline-block;
                    max-height: 105px;
                    box-shadow: 0 0px 33px #f3f3f3c7;
                    object-fit: scale-down;
                    padding: 10px;
                }
            }
            &.owl-theme {
                .owl-nav [class*='owl-'] {
                    top: 15px;
                }
                .owl-controls {
                    .owl-dots {
                        padding: 30px 0 0;
                    }
                }
            }
        }
    }
}
.our-awards {
    padding: 30px 0px;
    background: $gray-lightest;
    .our-awards-bg {
        .our-awards-content {
            padding-top: 30px;
            margin: 0px;
            .our-awards-bx {
                text-align: center;
                background: $gray-base-inverse;
                padding: 20px 20px 35px;
                height: 100%;
                border-right: 1px solid $gray-lightest-btn;
                figure {
                    display: block;
                    img {
                        display: inline-block;
                    }
                }
                h4 {
                    font-family: $font-bold;
                    color: $gray;
                    margin-bottom: 20px;
                    span {
                        display: block;
                        font: 16px $font-bold;
                        color: $brand-secondary;
                    }
                }
                &.last-child {
                    border: none;
                }
            }
        }
        .awards-slider {
            padding-top: 15px;
            .awards-slider-content {
                background: $gray-base-inverse url("../images/aw-img-04.png") no-repeat center 20px;
                padding: 20px 25px;
                text-align: center;
                h3 {
                    font-family: $font-bold;
                    color: $gray;
                    span {
                        display: block;
                        font: 18px $font-bold;
                        color: $gray;
                        padding-bottom: 10px;
                    }
                }
                p {
                    font: 14px $font-regular;
                    color: $gray;
                    line-height: 1.4;
                }
                .br-bg {
                    width: 30px;
                    height: 2px;
                    background: $brand-primary;
                    text-align: center;
                    margin: auto;
                    margin-bottom: 10px;
                }
            }
            .owl-controls {
                .owl-dots {
                    padding: 30px 0 0;
                }
            }
        }
    }
}
.our-news-update {
    padding: 30px 0 50px;
    .our-news-bx {
        .our-news-block {
            padding-top: 40px;
            padding-bottom: 40px;
            .our-news-content {
                box-shadow: 0 0 35px $gray-lightest-btn;
                border-bottom: 2px solid transparent;
                .our-news-text {
                    padding: 20px;
                    h4 {
                        font-family: $font-bold;
                        color: $gray;
                        margin-top: 0;
                    }
                    span {
                        display: block;
                        color: $brand-secondary;
                        font: 14px $font-bold;
                        text-transform: uppercase;
                        padding-bottom: 10px;
                    }
                    .news-date {
                        font: 14px $font-regular;
                        color: $gray-lightest-btn;
                        padding-bottom: 10px;
                    }
                    p {
                        font: 14px $font-regular;
                        color: $gray-lighter;
                        line-height: 1.6;
                    }
                }
                &:hover {
                    border-bottom: 2px solid $brand-primary;
                    .our-news-text {
                        span {
                            color: $brand-primary;
                            text-decoration: none;
                        }
                        h4 {
                            text-decoration: underline;
                            text-decoration-color: $brand-primary;
                        }
                    }
                }
            }
        }
        .news-btn {
            text-align: center;
            margin: auto;
            display: block;
        }
    }
}
.view-more-btn {
    font: 14px $font-bold;
    color: $gray;
    border: 1px solid $brand-primary;
    padding: 10px 25px;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 100px;
    &:hover {
        background: $brand-primary;
        color: $gray-base-inverse;
    }
}
.about-maximus {
    padding: 30px 35px 30px 105px;
    background: $gray-lightest url("../images/bg-banner.png") no-repeat center center;
    background-size: cover;
    min-height: 700px;
    .about-maximus-bx {
        padding-top: 20px;
        .about-content {
            p {
                font: 16px $font-regular;
                color: $gray-light;
                line-height: 1.6;
                padding: 10px 0 10px 10px;
            }
            a {
                margin-left: 10px;
            }
            h3 {
                font: 30px $font-bold;
                color: $brand-primary;
                padding-top: 40px;
                padding-left: 10px;
                line-height: 1.4;
                span {
                    display: block;
                    font: 14px $font-bold;
                    color: $gray-dark;
                }
            }
        }
        .flight-graph-price {
            list-style: none;
            padding: 30px 10px;
            margin: 0;
            .flight-hours {
                h4 {
                    font: 24px $font-bold;
                    color: $gray;
                    position: relative;
                    padding-bottom: 5px;
                    span {
                        font: 14px $font-bold;
                        padding: 0 0 0 10px;
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        right: auto;
                        background: $gray;
                        height: 2px;
                        width: 100%;
                        bottom: 0;
                    }
                }
                .flight-grap-price {
                    padding: 20px;
                }
                &:first-child {
                    h4 {
                        &::before {
                            background: $brand-primary;
                        }
                    }
                }
                &:last-child {
                    h4 {
                        &::before {
                            background: $brand-secondary;
                        }
                        &::after {
                            content: "";
                            width: 0;
                            height: 0;
                            border-top: 8px solid transparent;
                            border-left: 10px solid $brand-secondary;
                            border-bottom: 8px solid transparent;
                            position: absolute;
                            right: -10px;
                            left: auto;
                            top: 96%;
                            transform: translateY(-50%);
                        }
                    }
                }
                .flight-yeras {
                    color: $gray;
                    font: 16px $font-bold;
                }
            }
        }
    }
}
.flight-enquiry {
    margin: -100px 0 0;
    .flight-enquiry-bx {
        .bg-block {
            background: $gray-base;
            padding: 20px 40px;
            height: 100%;
            .flight-enguiry-content {
                padding-bottom: 20px;
                h3 {
                    font: 28px $font-bold;
                    color: $gray-base-inverse;
                    margin: 0;
                    padding-bottom: 5px;
                }
                p {
                    font: 16px $font-regular;
                    color: $gray-base-inverse;
                    line-height: 1.8;
                }
            }
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                li {
                    display: inline-block;
                    font: 16px $font-bold;
                    color: $gray-base-inverse;
                    padding: 0 20px 0 0;
                    &:first-child {
                        .contact-btn {
                            background: $brand-primary;
                            padding: 8px 20px;
                            border-radius: 100px;
                            font: 16px $font-bold;
                            color: $gray-base-inverse;
                            text-transform: uppercase;
                            display: block;
                            border: 1px solid transparent;
                            &:hover {
                                background: transparent;
                                border: 1px solid $gray-base-inverse;
                            }
                        }
                    }
                    &:last-child {
                        border: 1px solid $gray-lighter;
                        border-radius: 100px;
                        padding: 0;
                    }
                    ul {
                        li {
                            padding: 7px 20px;
                            border-right: 1px solid $gray-lighter;
                            a {
                                padding: 6px 20px;
                            }
                            &:last-child {
                                border: none;
                                padding: 7px 20px;
                            }
                            i {
                                &::before {
                                    font-size: 14px;
                                    display: inline-block;
                                    vertical-align: middle;
                                    margin: -6px 2px 0 0px;
                                    color: $brand-primary;
                                }
                            }
                        }
                    }
                }
            }
        }
        .bg-green {
            background: $brand-secondary;
            padding: 24px 30px;
            .quote-content {
                height: 100%;
                text-align: center;
                .quite-btn {
                    border: 1px solid $gray-base-inverse;
                    color: $gray-base-inverse;
                    &:hover {
                        background: $brand-primary;
                        color: $gray-base-inverse;
                        border: 1px solid $brand-primary;
                    }
                }
                h3 {
                    font: 28px $font-bold;
                    color: $gray-base-inverse;
                    margin: 0;
                    padding-bottom: 5px;
                }
                p {
                    color: $gray-base-inverse;
                    padding-bottom: 20px;
                    font: 16px $font-regular;
                    line-height: 1.8;
                    margin-bottom: 0;
                }
            }
        }
    }
}
@media screen and (min-width:$screen-sm-min) {
    .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .search-result-wrap {
        .row-eq-height {
            display: block !important;
        }
    }
    .row-20 {
        margin-left: -10px;
        margin-right: -10px;
        .gutter-20 {
            padding-right: 10px;
            padding-left: 10px;
        }
    }
    .row-60 {
        margin-left: -30px;
        margin-right: -30px;
        .gutter-60 {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}
@media screen and (min-width:$screen-md-min) {
}
@media screen and (min-width:$screen-lg-min) {
    .availability-bg {
        padding: 15px 0 20px 115px;
        margin: 0;
    }
    .our-services {
        .our-services-content {
            .tab-content {
                .tab-pane {
                    .owl-prev {
                        left: -55px;
                    }
                    .owl-next {
                        right: -55px;
                    }
                }
            }
        }
    }
    .owl-theme .owl-nav [class*='owl-'] {
        left: -60px;
    }
    .owl-next {
        right: -60px;
    }
}
@media screen and (max-width:$screen-sm-max) {
    .flexslider {
        .slides {
            img {
                width: auto;
            }
        }
    }
    .hero-banner {
        .hero-content {
            left: 70px;
        }
    }
    .our-services {
        .our-services-content {
            h2 {
                width: 35%;
            }
        }
    }
    .flight-enquiry {
        .flight-enquiry-bx {
            .bg-block {
                ul {
                    li {
                        padding: 0 20px 25px 0;
                    }
                }
            }
        }
    }
    .about-maximus {
        padding: 30px 35px 30px 50px;
        .about-maximus-bx {
            .flight-graph-price {
                .flight-hours {
                    h4 {
                        font-size: 18px;
                        span {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:$screen-xs-max) {
    h1 {
        font-size: 25px !important;
        line-height: 1.2;
    }
    h2 {
        font-size: 20px !important;
        line-height: 1.2;
        text-align: center;
        border-left: none;
        padding: 0;
    }
    .hero-banner {
        .hero-content {
            text-align: center;
            left: 0;
            padding: 0 15px;
            z-index: 9;
            p {
                line-height: 1.4;
                padding-top: 0px;
                padding-bottom: 10px;
            }
        }
    }
    #slider {
        .flex-viewport {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: rgba(0,0,0,0.4);
                z-index: 1;
                display: block;
                padding: 0;
            }
        }
        .flex-direction-nav {
            display: none;
        }
    }
    #carousel {
        text-align: center;
        bottom: 0px;
        width: 70%;
        .flex-direction-nav {
            .flex-prev {
                left: -49px;
            }
            .flex-next {
                right: -40px;
            }
        }
        .flex-active-slide {
            &::before {
                left: 0;
                right: 0;
            }
        }
        li {
            padding: 15px 0 0 0;
        }
    }
    .availability-bg {
        margin: 0 20px;
        padding: 15px 0;
        overflow: hidden;
        .availability-bx {
            ul {
                li {
                    padding: 0 10px;
                    p {
                        font-size: 18px;
                        span {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
    .our-services {
        .our-services-content {
            .tab-content {
                padding-top: 10px;
                .tab-pane {
                    figure {
                        &::before {
                            padding: 20px 20px 130px 20px;
                        }
                        .col-second {
                            .overlay-content {
                                bottom: 5px;
                            }
                        }
                    }
                    .col-second {
                        .overlay-content {
                            padding: 10px 15px;
                            bottom: 10px;
                            h3 {
                                font-size: 18px;
                                &:hover {
                                    &::before {
                                        width: 25%;
                                    }
                                }
                                &::before {
                                    width: 13%;
                                }
                            }
                            p {
                                font-size: 14px;
                            }
                        }
                    }
                }
                .owl-carousel {
                    &.owl-loaded {
                        margin: 0;
                    }
                }
            }
            h2 {
                width: 100%;
            }
            .nav-tabs {
                padding: 0px 0 25px;
                float: none !important;
                text-align: center;
                li {
                    padding: 30px 0px 0 10px;
                    float: none;
                    display: inline-block;
                    a {
                        font-size: 14px;
                    }
                    &:first-child {
                        padding: 30px 0px 0 0px;
                    }
                }
            }
        }
    }
    .our-clients {
        .our-clients-content {
            h2 {
                display: block;
            }
            .our-clients-text {
                width: 100%;
                float: none !important;
                text-align: center;
            }
        }
    }
    .our-awards {
        .our-awards-bg {
            .our-awards-content {
                .our-awards-bx {
                    border-right: none;
                    border-bottom: 1px solid $gray-lightest-btn;
                }
            }
        }
    }
    .our-news-update {
        .our-news-bx {
            .our-news-block {
                .our-news-content {
                    figure {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .about-maximus {
        padding: 30px 15px 30px 15px;
        .about-maximus-bx {
            text-align: center;
            .about-content {
                h3 {
                    padding-bottom: 20px;
                    padding-top: 20px;
                }
                p {
                    padding: 10px 0 10px 0;
                }
            }
            .flight-graph-price {
                text-align: left;
            }
        }
    }
    .flight-enquiry {
        margin: 0;
        .flight-enquiry-bx {
            text-align: center;
            .bg-block {
                padding: 20px 20px;
                ul {
                    li {
                        display: block;
                        padding: 10px 0;
                        &:last-child {
                            border: none;
                            padding: 10px 0;
                        }
                        ul {
                            li {
                                border-right: none;
                            }
                        }
                    }
                }
            }
            .bg-green {
                padding: 24px 15px;
            }
        }
    }
    .owl-controls {
        .owl-nav {
            display: none;
        }
        .owl-dots {
            float: none;
        }
    }
}
@media screen and (max-width:$screen-xs-min) {
}
