/*
 * jQuery FlexSlider v2.6.2
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */


/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/

@font-face {
	font-family: 'flexslider-icon';
	src: url('fonts/flexslider-icon.eot');
	src: url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('fonts/flexslider-icon.woff') format('woff'), url('fonts/flexslider-icon.ttf') format('truetype'), url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/

.flex-container a:hover,
.flex-slider a:hover {
	outline: none;
}

.slides,
.slides>li,
.flex-control-nav,
.flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

.flex-pauseplay span {
	text-transform: capitalize;
}


/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/

.flexslider {
	margin: 0;
	padding: 0;
}
.flex-control-nav {
		display: none;
	}
#slider {
	
	.flex-viewport {
		height: calc(100vh - 20px);
		position: relative;
		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			padding: 20px 20px 330px 20px;
			font-size: 18px;
			color: #fff;
			-webkit-transition: all ease-out 0.3s;
			-o-transition: all ease-out 0.3s;
			transition: all ease-out 0.3s;
			background-image: -webkit-linear-gradient(top, transparent 0%, #000 100%);
			background-image: -o-linear-gradient(top, transparent 0%, #000 100%);
			background-image: linear-gradient(to bottom, transparent 0, #000 100%);
			background-repeat: repeat-x;
			z-index: 9;
		}
	}
}

.flexslider .slides>li {
	display: none;
	-webkit-backface-visibility: hidden;
}

.flexslider .slides img {
	width: 100%;
	display: block;
}

.flexslider .slides:after {
	content: "\0020";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

html[xmlns] .flexslider .slides {
	display: block;
}

* html .flexslider .slides {
	height: 1%;
}

.no-js .flexslider .slides>li:first-child {
	display: block;
}


/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/

.flexslider {
	margin: 0 0 20px;
	background: #fff;
	position: relative;
	zoom: 1;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
	-o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
	box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}

.flexslider .slides {
	zoom: 1;
}

.flexslider .slides img {
	height: 100%;
	-moz-user-select: none;
	background-size: cover;
}

.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.loading .flex-viewport {
	max-height: 300px;
}

.carousel li {
	margin-right: 5px;
}

#carousel {
	width: 86%;
	margin: auto;
	padding: 0;
	position: absolute;
	bottom:10px;
	/* width: 100%; */
	left: 0;
	right: 0;
	margin: auto;
	background: transparent;
	
	border-radius: 0;
	    z-index: 99;
    color: #fff;
}

#carousel {
	ul.slides{
		border-top: 1px solid $gray-lighter;
	}
	li {
		padding: 15px 0 0 3px;
	}
	.flex-active-slide {
		position: relative;
		&::before {
			position: absolute;
			content: "";
			height:4px;
			background: $brand-primary;
			width: 100%;
			top: -1px;
		}
	}
	p {
		margin: 0;
	}
}

.flex-direction-nav {
	*height: 0;
}

.flex-direction-nav a {
	text-decoration: none;
	display: block;
	width: 40px;
	height: 40px;
	margin: -28px 0 0;
	position: absolute;
	top: 50%;
	z-index: 10;
	overflow: hidden;
	opacity: 1;
	cursor: pointer;
	font-size: 0;
	transition: none;
	&:hover{
		&::before{
			color: $gray-base-inverse;
		}
	}
}

.flex-direction-nav a:before {
	font-family: "flexslider-icon";
	font-size: 22px;
	display: inline-block;
	content: '\e906';
	color: $gray-base-inverse;
	
}
#slider{
		.flex-prev, .flex-next{
			&::before{
				font-size: 35px;
			}
		}

}

.flex-direction-nav a.flex-next:before {
	content: '\e907';
}

.flex-direction-nav .flex-prev {
	left: -50px;
}

.flex-direction-nav .flex-next {
	right: -50px;
	text-align: right;
}

.flexslider:hover .flex-direction-nav .flex-prev {
	opacity: 1;
}

#slider {
	.flex-direction-nav {
		.flex-next{
			right: 40px;
		}
		.flex-prev{
			left: 40px;
		}
	}
}

.flexslider:hover .flex-direction-nav .flex-next {
	opacity: 1;
}

.flex-slider {
	border: 1px solid $gray-lighter;
	margin-bottom: 25px;
}

#carousel ul li img {
	cursor: pointer;
}

.flex-direction-nav .flex-disabled {
	opacity: 1!important;
	filter: alpha(opacity=0);
	cursor: default;
}

.flex-pauseplay a {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 5px;
	left: 10px;
	opacity: 0.8;
	z-index: 10;
	overflow: hidden;
	cursor: pointer;
	color: #000;
}

.flex-pauseplay a:before {
	font-family: "flexslider-icon";
	font-size: 20px;
	display: inline-block;
	content: '\f004';
}

.flex-pauseplay a:hover {
	opacity: 1;
}

.flex-pauseplay a.flex-play:before {
	content: '\f003';
}

.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: -40px;
	text-align: center;
}

.flex-control-nav li {
	margin: 0 6px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.flex-control-paging li a {
	width: 11px;
	height: 11px;
	display: block;
	background: #666;
	background: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	text-indent: -9999px;
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	-o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.flex-control-paging li a:hover {
	background: #333;
	background: rgba(0, 0, 0, 0.7);
}

.flex-control-paging li a.flex-active {
	background: #000;
	background: rgba(0, 0, 0, 0.9);
	cursor: default;
}

.flex-control-thumbs {
	margin: 5px 0 0;
	position: static;
	overflow: hidden;
}

.flex-control-thumbs li {
	width: 25%;
	float: left;
	margin: 0;
}

.flex-control-thumbs img {
	width: 100%;
	height: auto;
	display: block;
	opacity: .7;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.flex-control-thumbs img:hover {
	opacity: 1;
}

.flex-control-thumbs .flex-active {
	opacity: 1;
	cursor: default;
}

.flex-prev {
	@extend .icon-thin-arrow-left;
	&::before {
		@extend .custom-icons;
		font-size: 50px;
		margin: 0;
	}
	&:hover {
		&::before {
			color: $brand-secondary;
		}
	}
}

.flex-next {
	@extend .icon-thin-arrow-right;
	&::before {
		@extend .custom-icons;
		font-size: 50px;
		margin: 0;
	}
	&:hover {
		&::before {
			color: $brand-secondary;
		}
	}
}


/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/

@media screen and (max-width: 860px) {
	.flex-direction-nav .flex-prev {
		opacity: 1;
		left: -40px;
	}
	.flex-direction-nav .flex-next {
		opacity: 1;
		right: -40px;
	}
}

@media screen and (max-width:$screen-xs-max) {
	.flex-direction-nav .flex-prev {
		opacity: 1;
		left: -15px;
	}
	.flex-direction-nav .flex-next {
		opacity: 1;
		right: -15px;
	}
}
