
.simple-marquee-container {
	width: 100%;
	
	float: left;
	display: inline-block;
	overflow: hidden;
	box-sizing: border-box;
	height: 68px;
	position: relative;
	cursor: pointer;

	
	
}

.marquee-sibling {
	padding: 0;
	background: rgb(61, 61, 61);
	width: 20%;
	height: 45px;
	line-height: 42px;
	font-size: 12px;
	font-weight: normal;
	color: #ffffff;
	text-align: center;
	float: left;
	left: 0;
	z-index: 2000;
}

.marquee, *[class^="marquee"] {
	display: inline-block;
	white-space: nowrap;
	position:absolute;
}

.marquee{
  margin-left: 25%;
}

.marquee-content-items{
  display: inline-block;
  padding: 5px;
  margin: 0;
  height: 45px;
  position: relative;
}

.marquee-content-items li{
  display: inline-block;
  line-height: 35px;
  color: #fff;
}

.marquee-content-items li:after{
	content: "|";
	margin: 0 1em;
}
