
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?iyavl8');
  src:  url('../fonts/icomoon.eot?iyavl8#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?iyavl8') format('truetype'),
    url('../fonts/icomoon.woff?iyavl8') format('woff'),
    url('../fonts/icomoon.svg?iyavl8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]::before, [class*=" icon-"]::before, .custom-icons, .custom-icon-bfr::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;   
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google:before {
  content: "\e900";
}
.icon-linkedin:before {
  content: "\e901";
}
.icon-youtube:before {
  content: "\e902";
}
.icon-twitter:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-mail:before {
  content: "\e905";
}
.icon-thick-arrow-left:before {
  content: "\e906";
}
.icon-thick-arrow-right:before {
  content: "\e907";
}
.icon-thin-arrow-left:before {
  content: "\e908";
}
.icon-thin-arrow-right:before {
  content: "\e909";
}
.icon-phone:before {
  content: "\e90a";
}
