footer {
	padding: 70px 0 0;
	.footer-bx {
		padding-bottom: 50px;
		h5 {
			font-family: $font-secondary;
			color: $gray;
			padding: 0 0 5px;
			margin: 0;
			position: relative;
			&::before {
				content: "";
				height: 1px;
				background: #e83c31;
				position: absolute;
				width: 20%;
				margin: 0 auto;
				left: 0;
				right: auto;
				margin: auto;
				bottom: 3px;
				@include transition (all ease-out 0.3s);
			}
			&:hover {
				&::before {
					width: 30%;
				}
			}
		}
		ul {
			list-style: none;
			padding: 8px 0 0;
			margin: 0;
			li {
				padding: 2px 0;
				margin: 0;
				display: block;
				a {
					font: 14px $font-primary;
					color: $gray-lighter;
					padding: 0;
					margin: 0;
					&:hover{
						color: $brand-primary;
					}
				}
			}
		}
		.social-icons {
			ul {
				li {
					display: inline-block;
					padding: 0 1px 0 0;
					a {
						i {
							&::before {
								font-size: 24px;
								color: $gray;
							}
						}
							&:hover{
						.icon-facebook{
							&::before{
								color: #3b5998;
							}
						}
						.icon-twitter{
							&::before{
							color: #00aced;
							}
						}
						.icon-google{
							&::before{
							color: #d34836;
							}
						}
						.icon-linkedin{
							&::before{
							color: #0077b5;
							}
						}
						.icon-youtube{
							&::before{
							color: #ff0000;
							}
						}
					}
					}
					&:last-child {
						padding: 0;
					}
				}
			}
		}
		.p-0{
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	.footer-copy-rights{
		background: $gray-lightest;
		padding: 20px 0;
		p{
			margin: 0;
			font: 12px $font-primary;
			padding: 3px 0 0;
		}
		ul{
			margin: 0;
			padding: 2px 0 0;
			list-style: none;
			float: right;
			li{
				display: inline-block;
				padding: 0 0 0 30px;
				margin: 0;
				a{
					font: 12px $font-primary;
					color: $gray-lighter;
				&:hover{
						color: $brand-primary;
					}
				}
			}
		}
	}
}
@media screen and (min-width: $screen-lg-min) {
	footer {
		.footer-bx {
			.social-icons {
				ul {
					li{
						padding: 0 5px 0 0;
						a{
							i{
								&::before{
									font-size: 26px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width:$screen-sm-min) {}

@media screen and (max-width:$screen-sm-max) {
	
	footer{
		.footer-bx {
			ul{
				li{
					a{
						font-size: 12px;
					}
				}
			}
			.social-icons{
				ul{
					li{
						padding: 0;
						a{
							i{
								&::before{
									font-size: 17px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width:$screen-xs-max) {
	footer {
		.footer-bx{
			text-align: center;
			.footer-content{
				padding-bottom: 30px;
				figure{
					img{
						display: inline-block;
					}
				}
			}
			h5{
				&::before{
					width: 10%;
					left: 0;
					right: 0;
				}
				&:hover{
					&::before{
						width: 13%;
					}
				}
			}
		}
		.footer-copy-rights{
			text-align: center;
			ul{
				float: none;
				text-align: center;
				li{
					display: block;
					padding: 5px 0;
				}
			}
		}
	}
	
}

@media screen and (max-width:$screen-xs-min) {}
