.navbar {
	&.navbar-default {
		background-color: transparent;
		border-color: transparent;
		border: none;
		clear: both;
		margin-bottom: 0;
		padding: 0 40px;
		min-height: 0;
		overflow-x: hidden;
		overflow: visible;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 99;
		.navbar-nav {
			margin-top: 25px;
			li {
				display: inline-block;
				padding: 0;
				a {
					padding: 5px 15px;
					font: 14px $font-secondary;
					color: $gray;
					text-align: left;
					@include transition( all 0.3s ease-in-out 0s);
					i {
						&::before {
							font-size: 26px;
							padding: 0 10px 0 0;
						}
					}
					span {
						display: inline-block;
						line-height: 1;
						small {
							display: block;
							font-size: 100%;
						}
					}
					&:hover {
						color: $brand-primary;
					}
				}
				&:last-child {
					a {
						background: $brand-primary;
						border-radius: 100px;
						color: $gray-base-inverse;
						margin-left: 15px;
						box-shadow: 0 7px 13px $gray-lightest-btn;
						&::after {
							content: none;
						}
						&:hover {
							background: rgba($brand-primary, 0.5);
						}
					}
				}
			}
		}
		.navbar-header {
			.navbar-brand {
				height: auto;
				padding: 15px 15px 15px 0px;
				img {
					@include transition( all 0.3s ease-in-out 0s);
				}
			}
		}
		.navbar-toggle {
			border-color: $gray;
			margin: 15px 0;
			background: none;
			.icon-bar {
				background-color: $gray;
			}
		}
		.navbar-collapse{
			padding-right: 0;
			padding-left: 0;
		}
	}
}

$speed: 200ms;
$easing: cubic-bezier(0.7, 0, 0, 0.7);
.navbar-toggle {
	overflow: hidden;
	.icon-bar {
		transition: opacity, transform;
		transition-duration: $speed;
		transition-timing-function: $easing;
	}
	&:not(.collapsed) {
		.icon-bar {
			&:nth-child(1) {
				transform: translateY(6px) rotate(45deg);
			}
			&:nth-child(2) {
				opacity: 0;
				transform: translateX(-100%);
			}
			&:nth-child(3) {
				transform: translateY(-6px) rotate(-45deg);
			}
		}
	}
}

@media screen and (min-width:$screen-lg-min) {
	.navbar {
		&.navbar-default {
			.navbar-nav {
				li {
					a {
						padding: 5px 15px;
						font-size: 16px;
						i {
							font-size: 30px;
							&::before {
								font-size: 26px;
							}
							&.icon-map {
								&::before {
									font-size: 130%;
								}
							}
						}
					}
					&:last-child {
						a {
							background: $brand-primary;
							border-radius: 100px;
							color: $gray-base-inverse;
							margin-left: 15px;
						}
					}
				}
			}
			.navbar-header {
				.navbar-brand {
					padding: 12px 0;
					&.hidden-sm {
						img {
							width: 250px;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.mob-search {
		display: none;
	}
}

@media screen and (min-width:$screen-sm-min) {}

@media screen and (max-width:$screen-sm-max) {
	.navbar {
		&.navbar-default {
			padding: 0 15px;
			.navbar-nav {
				margin: 0 -15px;
				li {
					display: block;
					a {
						padding: 20px 6px;
						font-size: 13px;
						i::before {
							font-size: 24px;
							padding: 0 5px 0 0;
						}
					}
					&:last-child {
						a {
							padding: 4px 10px;
							margin-top: 15px;
							margin-left: 10px;
						}
					}
				}
			}
			.navbar-header {
				.navbar-brand {
					padding: 9px 0;
					img {
						width: auto;
					}
				}
			}
		}
	}
}

@media screen and (max-width:$screen-xs-max) {
	.navbar {
		&.navbar-default {
			z-index: 999;
			.navbar-nav {
				margin: 20px -15px;
				li {
					padding: 8px 0;
					a {
						padding: 2px 8px !important;
						&::after,
						&::before {
							display: none;
						}
						i {
							display: inline-block;
							width: 38px;
							vertical-align: middle;
							font-size: 20px;
							&::before {
								display: block;
								font-size: 20px !important;
								padding: 0 5px 0 0;
							}
							&.icon-make-enquiry {
								&::before {
									font-size: 18px !important;
								}
							}
							&.icon-map {
								&::before {
									font-size: 24px !important;
								}
							}
						}
						
					}
					&:last-child {
						a{
							padding: 6px 15px !important;
							text-align: center;
							margin-top: 5px;
						}
						}
				}
			}
			.navbar-header {
				.navbar-brand {
					padding: 10px 15px 10px 0px !important;
					img {
						max-height: 42px!important;
					}
				}
			}
			.navbar-collapse {
				border-color: #006a8a;
				margin: 0 -30px;
				padding: 0 20px;
				background: $gray-base-inverse;
			}
		}
	}
	.navbar-header {
		position: relative;
		.mob-search {
			position: absolute;
			right: 75px;
			left: auto;
			top: 13px;
			i {
				font-size: 25px;
				color: $gray-base-inverse;
			}
		}
	}
}

@media screen and (max-width:$screen-xs-min) {
	.navbar {
		&.navbar-default {
			.navbar-header {
				.navbar-brand {
					padding: 14px 15px 14px 0px !important;
					img {
						max-width: 140px;
						max-height: 100% !important;
					}
				}
			}
		}
	}
}
